## Dataset: CGMacros: a scientific dataset for personalized nutrition and diet monitoring.
### Objective: Uncover meaningful relationships between dietary habits,glucose responses, physical activity, and gut health.

### Import Libraries

In [1]:
import os
import pandas as pd
import numpy as np

### 45 participants CGMacros data

In [2]:
# Path to the main folder where all the 45 sub-folders and 3 supplementry files are
main_folder = r'C:/Data_BVS/DATASETS/CGMacros/'

# A list to combine each of the 45 participants CSV files 
participant_data = []

for participant_folder in os.listdir(main_folder):
    participant_path = os.path.join(main_folder, participant_folder)

    # Only process the csv files from the given folder.
    if os.path.isdir(participant_path) and participant_folder.lower().startswith('cgmacros'):
        for file in os.listdir(participant_path):
            if file.endswith('.csv'):
                csv_path = os.path.join(participant_path, file)
                df = pd.read_csv(csv_path)

                # Clean column names: remove spaces 
                df.columns = df.columns.str.strip()

                # Extract numeric part as ParticipantID (e.g., "001")
                participantID = int(participant_folder.split('-')[-1])

                # Insert ParticipantID from the folder name
                df.insert(0, 'ParticipantID', participantID)

                participant_data.append(df)
                break  # Only one CSV per participants folder

# Merge all participants CSVs into one DataFrame
merged_participants_df = pd.concat(participant_data, ignore_index=True)

In [3]:
print("The Combined participants data:")
merged_participants_df.head()

The Combined participants data:

,ParticipantID,Unnamed: 0,Timestamp,Libre GL,Dexcom GL,HR,Calories (Activity),METs,Meal Type,Calories,Carbs,Protein,Fat,Fiber,Amount Consumed,Image path,Steps,RecordIndex,Intensity,Sugar
0,1,0.0,5/1/2020 10:30,84.000000,NaN,56.0,1.0484,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1.0,5/1/2020 10:31,84.133333,NaN,56.0,1.0484,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2.0,5/1/2020 10:32,84.266667,NaN,57.0,1.0484,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,3.0,5/1/2020 10:33,84.400000,NaN,54.0,1.0484,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,4.0,5/1/2020 10:34,84.533333,NaN,55.0,1.0484,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Data Understanding

In [4]:
# Dimensionality of the merged dataset
merged_participants_df.shape

(687580, 20)

In [5]:
# Checking the datatypes of the columns
merged_participants_df.dtypes

ParticipantID            int64
Unnamed: 0             float64
Timestamp               object
Libre GL               float64
Dexcom GL              float64
HR                     float64
Calories (Activity)    float64
METs                   float64
Meal Type               object
Calories               float64
Carbs                  float64
Protein                float64
Fat                    float64
Fiber                  float64
Amount Consumed        float64
Image path              object
Steps                  float64
RecordIndex            float64
Intensity              float64
Sugar                  float64
dtype: object

In [6]:
# Count of the missing values for each column of the dataset
merged_participants_df.isnull().sum()

ParticipantID               0
Unnamed: 0             549795
Timestamp                   0
Libre GL                  220
Dexcom GL               57755
HR                      77324
Calories (Activity)     35446
METs                   186502
Meal Type              685874
Calories               685874
Carbs                  685874
Protein                685874
Fat                    685874
Fiber                  685875
Amount Consumed        685938
Image path             684383
Steps                  681925
RecordIndex            687563
Intensity              530870
Sugar                  687541
dtype: int64

In [7]:
# Checking the column names in the merged dataset for duplicates or extra columns.
merged_participants_df.columns

Index(['ParticipantID', 'Unnamed: 0', 'Timestamp', 'Libre GL', 'Dexcom GL',
       'HR', 'Calories (Activity)', 'METs', 'Meal Type', 'Calories', 'Carbs',
       'Protein', 'Fat', 'Fiber', 'Amount Consumed', 'Image path', 'Steps',
       'RecordIndex', 'Intensity', 'Sugar'],
      dtype='object')

### Data Preprocessing Steps: Cleaning and Transforming the Columns

- The unnamed: 0 column was found in some f the participants only and it is row numbers. It is an unnecessary column and was removed
- Partcipant 7 has Steps and RecordIndex columns
- Participant 11 has Intensity reading column
- Participant 13 has Sugar reading column
- Since theses reading are recorded individually by only one 1 participant, 
- and the other 44 patients does not have these readings, we cannot use them for our data analysis. 
- Our team decided to keep only the common columns of all the 45 participants which were also mentioned in the DataDictionary_CGmacros-00X.csv file

In [8]:
# So we dropped the extra columns that were not needed for the analysis 
merged_participants_df.drop(columns = ['Unnamed: 0', 'Steps', 'RecordIndex', 'Intensity', 'Sugar'],inplace=True)

In [9]:
# Check the forst 5 rows of the dataframe
merged_participants_df.head()

,ParticipantID,Timestamp,Libre GL,Dexcom GL,HR,Calories (Activity),METs,Meal Type,Calories,Carbs,Protein,Fat,Fiber,Amount Consumed,Image path
0,1,5/1/2020 10:30,84.000000,NaN,56.0,1.0484,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,5/1/2020 10:31,84.133333,NaN,56.0,1.0484,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,5/1/2020 10:32,84.266667,NaN,57.0,1.0484,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,5/1/2020 10:33,84.400000,NaN,54.0,1.0484,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,5/1/2020 10:34,84.533333,NaN,55.0,1.0484,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# The columns were renamed to maintian consistency
merged_participants_df.rename(columns={'Libre GL' : 'Libre_GL', 'Dexcom GL' : 'Dexcom_GL' ,
                                       'HR':'Heart_Rate', 'Calories (Activity)' :'Activity_Calories_Per_Minute', 
                                       'Meal Type' : 'Meal_Type', 'Calories' : 'Meal_Calories',
                                        'Amount Consumed' : 'Amount_Consumed(%)', 'Image path' : 'Image_Path'}, inplace=True)
merged_participants_df.head()

,ParticipantID,Timestamp,Libre_GL,Dexcom_GL,Heart_Rate,Activity_Calories_Per_Minute,METs,Meal_Type,Meal_Calories,Carbs,Protein,Fat,Fiber,Amount_Consumed(%),Image_Path
0,1,5/1/2020 10:30,84.000000,NaN,56.0,1.0484,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,5/1/2020 10:31,84.133333,NaN,56.0,1.0484,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,5/1/2020 10:32,84.266667,NaN,57.0,1.0484,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,5/1/2020 10:33,84.400000,NaN,54.0,1.0484,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,5/1/2020 10:34,84.533333,NaN,55.0,1.0484,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# The descriptive statistics allows us to check whether the ranges of each column are in compliance with the data dictionary file provided
merged_participants_df.describe()

,ParticipantID,Libre_GL,Dexcom_GL,Heart_Rate,Activity_Calories_Per_Minute,METs,Meal_Calories,Carbs,Protein,Fat,Fiber,Amount_Consumed(%)
count,687580.000000,687360.000000,629825.000000,610256.000000,652134.000000,501078.000000,1706.000000,1706.000000,1706.000000,1706.000000,1705.000000,1642.000000
mean,24.709961,109.055937,140.873351,78.830738,1.835609,17.212576,505.858968,52.080715,29.247421,19.783763,17.897243,97.865865
std,14.309624,41.279751,42.026542,15.294763,1.464122,13.142785,329.540743,40.066376,25.662044,20.752374,143.671402,91.665339
min,1.000000,40.000000,40.000000,30.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,13.000000,83.400000,113.000000,68.000000,1.011400,10.000000,268.000000,24.000000,10.000000,10.000000,0.000000,100.000000
50%,23.000000,100.200000,130.800000,79.000000,1.178210,11.000000,448.000000,50.000000,22.000000,14.000000,4.000000,100.000000
75%,36.000000,125.000000,157.200000,88.000000,1.871850,15.000000,712.000000,73.000000,44.000000,30.000000,7.000000,100.000000
max,49.000000,405.000000,400.000000,176.000000,16.178400,132.000000,2826.000000,761.000000,148.000000,508.000000,2830.000000,900.000000

- In the provided data definition, only 3 distinct categories (breakfast, lunch and dinner) were listed for Meal type.
- While checking the column values, we found the names were not properly recorded and an extra category snack was also recorded.

In [12]:
# Check how the meal names were recorded
merged_participants_df['Meal_Type'].dropna().unique()

array(['Lunch', 'Dinner', 'Snacks', 'Breakfast', 'dinner', 'snack',
       'lunch', 'breakfast', 'snack 1', 'Snack'], dtype=object)

In [13]:
# To maintain naming consistency, all names were converted to same format ( first letter of the word capital)
merged_participants_df['Meal_Type'] = merged_participants_df['Meal_Type'].str.strip().str.lower().replace(
    {'snacks': 'snack', 'snack 1': 'snack'})

# Capitalize first letter, lowercase the rest
merged_participants_df['Meal_Type'] = merged_participants_df['Meal_Type'].str.capitalize()

In [14]:
# Checking again after performing transformations
merged_participants_df['Meal_Type'].dropna().unique()

array(['Lunch', 'Dinner', 'Snack', 'Breakfast'], dtype=object)

#### Handling Missing Values

In [15]:
# There were many missing values in Libre_GL, Dexcom_GL columns that could lead to significant data loss. 
# We Handled the missing values in the dataset by filling them with participant-wise mean.

# List of columns to fill missing values with their average
cols_to_impute = ['Libre_GL', 'Dexcom_GL']
# Run the loop to impute the average values
for col in cols_to_impute:
    merged_participants_df[col] = merged_participants_df.groupby('ParticipantID')[col].transform(
        lambda x: x.fillna(x.mean())
    )

In [16]:
#  Rounding off the floating values of some columns from 6 to 2 decimal places .
# Step 1: Identify float columns with > 2 decimal places
cols_to_round = [
    col for col in merged_participants_df.select_dtypes(include='float').columns
    if (merged_participants_df[col].apply(lambda x: isinstance(x, float) and round(x, 2) != x)).any()
]

# Step 2: Round those columns to 1 decimal place
merged_participants_df[cols_to_round] = merged_participants_df[cols_to_round].round(2)

In [17]:
# The timestamp column datatype is object which needed to be converted to datetype .
# This conversion is crucial for performing operations like 
# extracting components (year, month, hour),calculating time differences, or handling time series data.
merged_participants_df['Timestamp'] = pd.to_datetime(merged_participants_df['Timestamp'], format = 'mixed')    #, errors='coerce'

# Create 2 separate columns for Time and Date using the Timestamp column
merged_participants_df['Date'] = pd.to_datetime(merged_participants_df['Timestamp'].dt.date)
merged_participants_df['Time'] = merged_participants_df['Timestamp'].dt.strftime('%H:%M')

# Move Date and Time columns next to Timestamp
timestamp_index = merged_participants_df.columns.get_loc('Timestamp')

# Rearrange the columns
cols = merged_participants_df.columns.tolist()

# Remove 'Date' and 'Time' from the end
cols.remove('Date')
cols.remove('Time')

# Insert 'Date' and 'Time' right after 'Timestamp'
cols = cols[:timestamp_index+1] + ['Date', 'Time'] + cols[timestamp_index+1:]

# Apply new column order
merged_participants_df = merged_participants_df[cols]

In [18]:
merged_participants_df.head()

,ParticipantID,Timestamp,Date,Time,Libre_GL,Dexcom_GL,Heart_Rate,Activity_Calories_Per_Minute,METs,Meal_Type,Meal_Calories,Carbs,Protein,Fat,Fiber,Amount_Consumed(%),Image_Path
0,1,2020-05-01 10:30:00,2020-05-01,10:30,84.00,106.83,56.0,1.05,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2020-05-01 10:31:00,2020-05-01,10:31,84.13,106.83,56.0,1.05,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2020-05-01 10:32:00,2020-05-01,10:32,84.27,106.83,57.0,1.05,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2020-05-01 10:33:00,2020-05-01,10:33,84.40,106.83,54.0,1.05,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,2020-05-01 10:34:00,2020-05-01,10:34,84.53,106.83,55.0,1.05,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
# Check the number of columns
merged_participants_df.shape

(687580, 17)

In [20]:
# Checking for missing data for each column after transformations
merged_participants_df.isnull().sum()

ParticipantID                        0
Timestamp                            0
Date                                 0
Time                                 0
Libre_GL                             0
Dexcom_GL                            0
Heart_Rate                       77324
Activity_Calories_Per_Minute     35446
METs                            186502
Meal_Type                       685874
Meal_Calories                   685874
Carbs                           685874
Protein                         685874
Fat                             685874
Fiber                           685875
Amount_Consumed(%)              685938
Image_Path                      684383
dtype: int64

In [21]:
# the datatypes for each column of the dataset
merged_participants_df.dtypes

ParticipantID                            int64
Timestamp                       datetime64[ns]
Date                            datetime64[ns]
Time                                    object
Libre_GL                               float64
Dexcom_GL                              float64
Heart_Rate                             float64
Activity_Calories_Per_Minute           float64
METs                                   float64
Meal_Type                               object
Meal_Calories                          float64
Carbs                                  float64
Protein                                float64
Fat                                    float64
Fiber                                  float64
Amount_Consumed(%)                     float64
Image_Path                              object
dtype: object

In [22]:
# Save the final cleaned merged participants data into CSV file
merged_participants_df.to_csv('02DataExplorers_Cleaned_Merged_Participants_Data.csv', index=False, sep=",", encoding="utf-8")